<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{%static 'shop/style.css' %}"> 
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>Reset Password</h2>
      <label>
        <span>Email Address</span>
        <input type="email" name="email">
      </label>
      
      <button class="submit" type="button"><a href="PasswordResetView"></a>Reset Password</button>
      <button class="cancel" type="button"> <a class="signup-btns" href="login.html">Cancel</a> </button>

    </div>

    <div class="sub-cont">
      <div class="img">
     
      </div>
    </div>
  </div>
<script type="text/javascript" src="script.js"></script>
</body>
</html>