{% extends 'shop/basicseller.html' %}
{% load static %}


{% block body %}
 

    <div id="main ">

        <footer class="major container see-product">

            <div id="search">
                <!-- <h2><b></b></h2> -->
                <p style=font-size:15px;>Add/Update/Delete  </p>

            </div>

            
            <footer class="major2 container">
                
                <!-- <hr>
                <p style='font-size:15px;'><b>Date: </b>drh </p>
                <p style='font-size:15px;'><b>Start Time: </b>rtu </p>
                <p style='font-size:15px;'><b>End Time: </b>th</p>
                <p style='font-size:15px;'><b>Description: </b>jyt</p>
                <br> -->
                <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;"href="seeProducts">See Products</a>
                <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;" href="addProduct">Add Product</a>
                <!-- <a class="button" onclick="return confirm('Are you sure?')"
                    style="font-size:1.5rem; color:white; font-weight:bold;">Delete</a> -->
            </footer>
        
        </footer>


        <!-- Footer -->
       
    </div>
    <div id="main ">

        <footer class="major container see-product">

            <div id="search">
                <h2><b></b></h2>
                <p style=font-size:15px;>See the prices from different websites related to your products.</p>

            </div>

            
            <footer class="major2 container">
                
                <!-- <hr>
                <p style='font-size:15px;'><b>Date: </b>drh </p>
                <p style='font-size:15px;'><b>Start Time: </b>rtu </p>
                <p style='font-size:15px;'><b>End Time: </b>th</p>
                <p style='font-size:15px;'><b>Description: </b>jyt</p>
                <br> -->
                <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;" href="pricingTool">Pricing Tool</a>
                <!-- <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;">Edit/Update</a>
                <a class="button" onclick="return confirm('Are you sure?')"
                    style="font-size:1.5rem; color:white; font-weight:bold;">Delete</a> -->
            </footer>
            
        </footer>


        <!-- Footer -->
   
    </div>

    <div id="main ">

        <footer class="major container see-product">

            <div id="search">
                <!-- <h2><b>Career Fairs</b></h2> -->
                <p style=font-size:15px;>See the records of the orders you have got so far</p>

            </div>

            <footer class="major2 container">
               
                <!-- <hr>
                <p style='font-size:15px;'><b>Date: </b>drh </p>
                <p style='font-size:15px;'><b>Start Time: </b>rtu </p>
                <p style='font-size:15px;'><b>End Time: </b>th</p>
                <p style='font-size:15px;'><b>Description: </b>jyt</p>
                <br> -->
                <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;" href="orderRecords">Order Records</a>
                <!-- <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;">Edit/Update</a>
                <a class="button" onclick="return confirm('Are you sure?')"
                    style="font-size:1.5rem; color:white; font-weight:bold;">Delete</a> -->
            </footer>
        
        </footer>


        <!-- Footer -->
    
    </div>

    <div id="main ">

        <footer class="major container see-product">

            <div id="search">
                <h2><b></b></h2>
                <p style=font-size:15px;>See the status of all requests made by you.</p>

            </div>

            
            <footer class="major2 container">
                
                <!-- <hr>
                <p style='font-size:15px;'><b>Date: </b>drh </p>
                <p style='font-size:15px;'><b>Start Time: </b>rtu </p>
                <p style='font-size:15px;'><b>End Time: </b>th</p>
                <p style='font-size:15px;'><b>Description: </b>jyt</p>
                <br> -->
                <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;" href="requestinfo">Requests Information</a>
                <!-- <a class="button" style="font-size:1.5rem; color:white; font-weight:bold;">Edit/Update</a>
                <a class="button" onclick="return confirm('Are you sure?')"
                    style="font-size:1.5rem; color:white; font-weight:bold;">Delete</a> -->
            </footer>
            
        </footer>


        <!-- Footer -->
   
    </div>

        
    
    </div>

    {% endblock %}