<!DOCTYPE html>
<html>
  <head>

    {% extends 'shop/basic_buyer.html' %}

    {% block title %} Title of buyer{% endblock %}
    {% load static %}
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    
    {% block additionalStyles %}
    <link
    rel="stylesheet"
    type="text/css"
    href="{%static 'shop/style.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{%static 'shop/stylesheet.css' %}"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap"
    rel="stylesheet"
  />
{% endblock %}




    {% load static %}
  </head>
  <body>
    {% block body %}
    <div
      style="
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="cont">
        <div class="form sign-in">
          <h2>LogIn As Seller</h2>
          <form action="{% url 'loginseller' %}" method="post">
            {%csrf_token%}
            <label for="username" class="control-label"
              >Username
              <!-- <span>username</span>-->
              <input type="text" name="username" id="username" />
            </label>
            <label for="password" class="control-label"
              >password
              <!-- <span>Password</span>-->
              <input type="password" name="password" id="password" />
            </label>
            <button class="submit" type="submit">Sign In</button>


          </form>
          <!---->
          <div class="social-media">
            <ul>
              <li><img src="{%static 'shop/images/facebook.png' %} " /></li>
              <li><img src="{%static 'shop/images/twitter.png' %} " /></li>
              <li><img src="{%static 'shop/images/linkedin.png' %} " /></li>
              <li><img src="{%static 'shop/images/instagram.png' %} " /></li>
              <li><img src="{%static 'shop/images/google.png' %} " /></li>
            </ul>
          </div>
        </div>

        <div class="sub-cont">
          <div class="img">
            <div class="img-text m-up">
              <h2>New here?</h2>
              <p>
                Sign up to add spice to your home through our luxury furnitures!
              </p>
            </div>
            <div class="img-text m-in">
              <h2>One of us?</h2>
              <p>
                If you already has an account, just sign in. We've missed you!
              </p>
            </div>
            <div class="img-btn">
              <span class="m-up">Sign Up</span>
              <span class="m-in">Sign In</span>
            </div>
          </div>
          <div class="form sign-up">
            <h2>Sign Up</h2>
            <button type="button" class="submit">
              <a class="signup-btns" href="signup_seller">Sign Up as Seller</a>
            </button>
           
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{%static 'shop/script.js' %}"></script>
    {% endblock %}

   
  </body>
</html>
