{% extends 'shop/basicseller.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock %}
{% block additionalStyles %}
<style>
    .content-section{
        margin: 0 auto;
        width: 50%;
        padding: 20px;
        margin-top: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
{% endblock %}
{% block body %}

{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
  	 	<h2>Reset Password</h2><hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Send email</button>
        </form>
  	</div>
{% endblock %}
{% endblock %}