{% extends 'shop/basicseller.html' %}
{% load static %}
{% block title %} Title of seller{% endblock %}
{% block additionalStyles %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
    <style type="text/css">
   .container{
          
          
            margin-bottom: 50px ;
          }
    </style>


{% endblock %}
<body>

{% block body %}
<div class="container">
    <div class="row">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>title</th>
                    <th>price</th>
                    <th>rating </th>
                    <th>review_count</th>
                    <th>availability</th>
                  


                </tr>
            </thead>
            <tbody>
                {% for result in data%}
                <tr>
                    <td>{{result.title}}</td>
                    <td>{{result.price}}</td>
                    <td>{{result.rating }}</td>
                    <td>{{result.review_count}}</td>
                    <td>{{result.availability}}</td>
                    <!--<td>{{result.s_passwords}}</td>-->
                </tr>
                {% endfor %}
               
            </tbody>
            
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
    $('#example').DataTable();
});
</script>

{% endblock %}
</body>